/*Tela sistema*/

h2{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-shadow: 2px 1px 12px black;
}
h3{
  display: flex;
  justify-content: center;
}
.lista-topicos-sistema{
  display: grid;
  grid-template-columns: repeat(2, minmax(200px,300px));
  gap: 20px;
  line-height: 2;
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  padding: 20px 40px;
  margin:  0 auto;
}
.lista-subtopicos-sistema{
  flex-direction: column;
  font-weight: normal;
  font-size: 12px;
}
.topicos-sistema,
.lista-subtopicos-sistema{
  transition: transform 0.3s;
  transform-origin: center;
}
.topicos-sistema:hover,
.lista-subtopicos-sistema:hover{
  transform: scale(1.05);
}

/*Tela mecânicas básicas*/

#tela-mecanicas-basicas h1,
#tela-mecanicas-basicas h2{
  text-shadow: 2px 1px 12px rgb(175,175,175);
}
#lista-explicacao-testes{
  font-size: 14px;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-explicacao-tipos-sucesso{
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-explicacao-tipos-sucesso li{
  margin-top: 20px;
}
#lista-exemplos-casos-especiais{
  font-size: 14px;
  max-width: 550px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-exemplos-casos-especiais li{
  margin-top: 20px;
}
#lista-distancias{
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-distancias li:last-of-type{
  margin-bottom: 40px;
}

/*Tela pontos de ficha*/

#tela-pontos-ficha h1,
#tela-pontos-ficha h2{
  text-shadow: 2px 1px 12px rgb(175,175,175);
}
#lista-atributos{
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-atributos li{
  margin-top: 20px;
}
#lista-niveis-pericias{
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-niveis-pericias li{
  margin-top: 5px;
}
#lista-pericias{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(14, auto);
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-pericias li{
  margin-top: 20px;
}
#ir-para-mecanicas-adicionais{
  color: rgb(180,140,0);
}


/*Tela criação de personagem*/

#tela-criacao-personagem h1,
#tela-criacao-personagem h2{
  text-shadow: 2px 1px 12px rgb(150,0,225);
}
#lista-perfil-personagem{
  font-size: 14px;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-perfil-personagem li{
  margin-top: 20px;
}
a{
  color: rgb(100,175,175);
}
#lista-ocupacoes-personagem{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(39, auto);
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-ocupacoes-personagem li{
  margin-top: 20px;
}
#lista-consequencias-idade{
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-consequencias-idade li{
  margin-top: 20px;
}
#lista-consequencias-idade li:last-of-type{
  margin-bottom: 40px;
}

/*Tela cenas e ações*/

#tela-cenas-acoes h1,
#tela-cenas-acoes h2{
  text-shadow: 2px 1px 12px rgb(180,140,0);
}
#lista-turnos-rodadas{
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-turnos-rodadas li{
  margin-top: 20px;
}
#lista-acoes-exploracao{
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-acoes-exploracao li{
  margin-top: 20px;
}
#lista-acoes-interludio{
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-acoes-interludio li{
  margin-top: 20px;
}
#lista-acao-tratar{
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-acao-tratar li{
  margin-top: 5px;
}
#lista-acoes-investigacao{
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-acoes-investigacao li{
  margin-top: 20px;
}
#lista-acoes-combate{
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-acoes-combate li{
  margin-top: 20px;
}
#sub-lista-acoes-combate li{
  margin-top: 5px;
}
#lista-coberturas{
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-coberturas li{
  margin-top: 5px;
}
#lista-acoes-gerais{
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-acoes-gerais li{
  margin-top: 20px;
}
#lista-acoes-gerais li:last-of-type{
  margin-bottom: 40px;
}

/*Tela mecânicas adicionais*/

#tela-mecanicas-adicionais h1,
#tela-mecanicas-adicionais h2{
  text-shadow: 2px 1px 12px rgb(180,140,0);
}
#lista-alerta{
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-alerta li{
  margin-top: 5px;
}
#lista-acoes-movimento-furtivo{
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-acoes-movimento-furtivo li{
  margin-top: 20px;
}
#lista-ajuda{
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-ajuda li{
  margin-top: 5px;
}
#lista-tentativas-destrancar{
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-tentativas-destrancar li{
  margin-top: 20px;
}
#lista-eventos-invadir-sistema{
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-eventos-invadir-sistema li{
  margin-top: 20px;
}
#lista-acoes-perseguicoes-cacador{
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-acoes-perseguicoes-cacador li{
  margin-top: 20px;
}
#lista-acoes-perseguicoes-perseguido{
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-acoes-perseguicoes-perseguido li{
  margin-top: 20px;
}
#lista-condicoes{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(20, auto);
  font-size: 16px;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-condicoes li{
  margin-top: 20px;
}
#lista-condicoes li:last-of-type{
  margin-bottom: 40px;
}

/*Tela níveis e habilidades*/

#tela-niveis-habilidades h1,
#tela-niveis-habilidades h2{
  text-shadow: 2px 1px 12px rgb(100,175,175);
}

/*Para celular*/

@media (max-width: 700px) {
  .lista-topicos-sistema{
    grid-template-columns: 1fr;
  }
  #lista-explicacao-testes li{
    max-width: 95%;
  }
  #lista-explicacao-tipos-sucesso li{
    max-width: 95%;
  }
  #lista-exemplos-casos-especiais li{
    max-width: 95%;
  }
  #lista-atributos li{
    max-width: 95%;
  }
  #lista-niveis-pericias li{
    max-width: 95%;
  }
  #lista-pericias{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(1, auto);
  }
  #lista-pericias li{
    max-width: 95%;
  }
  #lista-perfil-personagem li{
    max-width: 95%;
  }
  #lista-ocupacoes-personagem{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(1, auto);
  }
  #lista-ocupacoes-personagem li{
    max-width: 95%;
  }
  #lista-consequencias-idade li{
    max-width: 95%;
  }
  #lista-turnos-rodadas li{
    max-width: 95%;
  }
  #lista-acoes-exploracao li{
    max-width: 95%;
  }
  #lista-acoes-interludio li{
    max-width: 95%;
  }
  #lista-acoes-investigacao li{
    max-width: 95%;
  }
  #lista-acoes-combate li{
    max-width: 95%;
  }
  #sub-lista-acoes-combate li{
    max-width: 95%;
  }
  #lista-coberturas li{
    max-width: 95%;
  }
  #lista-acoes-gerais li{
    max-width: 95%;
  }
  #lista-alerta li{
    max-width: 95%;
  }
  #lista-acoes-movimento-furtivo li{
    max-width: 95%;
  }
  #lista-ajuda li{
    max-width: 95%;
  }
  #lista-tentativas-destrancar li{
    max-width: 95%;
  }
  #lista-eventos-invadir-sistema li{
    max-width: 95%;
  }
  #lista-acoes-perseguicoes-cacador li{
    max-width: 95%;
  }
  #lista-acoes-perseguicoes-perseguido li{
    max-width: 95%;
  }
  #lista-condicoes{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(1, auto);
  }
  #lista-condicoes li{
    max-width: 95%;
  }
}