h2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.lista-topicos-sistema{
  display: grid;
    grid-template-columns: repeat(2, minmax(200px,300px));
    gap: 20px;
    line-height: 2;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    padding: 20px 40px;
    margin:  0 auto;
}
.lista-subtopicos-sistema{
  flex-direction: column;
  font-weight: normal;
  font-size: 12px;
}
.topicos-sistema,
.lista-subtopicos-sistema{
  transition: transform 0.3s;
  transform-origin: center;
}
.topicos-sistema:hover,
.lista-subtopicos-sistema:hover{
  transform: scale(1.05);
}
@media (max-width: 600px) {
  .lista-topicos-sistema{
    grid-template-columns: 1fr;
  }
  #lista-explicacao-testes{
    max-width: 90%;
  }
}
#lista-explicacao-testes{
  font-size: 14px;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-explicacao-tipos-sucesso{
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-explicacao-tipos-sucesso li{
  margin-top: 20px;
}
#lista-exemplos-casos-especiais{
  font-size: 14px;
  max-width: 550px;
  margin: 0 auto;
  line-height: 1.5;
}
#lista-exemplos-casos-especiais li{
  margin-top: 20px;
}